.butt1 a, ul.navi li.spec a.down, .barr, .button-newsletter, .p2-icon, .p2 a, .slide-txt a:hover, .wrap input.submit-contact  { background-color:#13a6d7; }
.slider-navs li.activeSlide a i, .sec-txt span, h3.subtitle, .normal span, p.testi-subti, .cta-icons i{ color:#13a6d7;  }
.button-newsletter, .wrap input.submit-contact, .butt1 a   { border:1px solid #0a9aca; }
.butt1 a:hover { background-color:#0a9aca; }
