<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>License Registration</title>
  </head>
  <body>
    <h3>면허정보등록</h3>
    <form action="/auth/license" method="post">
      <p>
        면허번호 <input type="text" name="licenseNum" placeholder="면허번호를 입력해주세요">
      </p>
      <p>
        면허종류 <input type="text" name="licenseType" placeholder="면허종류를 입력해주세요">
      </p>
      <p>
        <input type="submit">
      </p>
    </form>
  </body>
</html>
