<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
  </head>
  <body>
    <h3>Login</h3>
    <form action="/auth/login" method="post">
      <p>
        <input type="email" name="username" placeholder="your@email.com">
      </p>
      <p>
        <input type="password" name="password" placeholder="********">
      </p>
      <p>
        <input type="submit" value="로그인">
      </p>
    </form>
  </body>
</html>
