<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Payment Registration</title>
  </head>
  <body>
    <h3>결제정보등록</h3>
    <form action="/auth/payment" method="post">
      <p>
        카드번호 <input type="text" name="cardNum" placeholder="카드번호를 입력해주세요">
      </p>
      <p>
        카드사 <input type="text" name="cardName" placeholder="카드사를 입력해주세요">
      </p>
      <p>
        비밀번호 <input type="password" name="password" placeholder="비밀번호를 입력해주세요">
      </p>
      <p>
        <input type="submit">
      </p>
    </form>
  </body>
</html>
