<!DOCTYPE html>
<html lang="en" ng-app="test">
<head>
	<meta charset="UTF-8">
	<title>Document</title><meta name="viewport" content="width=device-width, initial-scale=0.41, maximum-scale=1" />
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

   	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="//apis.daum.net/maps/maps3.js?apikey=007981f5ae987412b8eeb43d18960bdd"></script>
	<script>
		/**
		* test Module
		*
		* Description
		*/
		angular.module('test', []).
		controller('mainController', ['$scope', '$http', function($scope, $http){
			$scope.login = function(id, pw){
				var temp = {username : id, password : pw};
				console.log(temp);
				$http.post('http://10.1.70.107:3000/auth/login', temp).success(function(res){
						console.log(res);
					}).error(function(res){
						console.log(res);
					});
			}

			var container = angular.element($('#map'));

			var options = {
				center : new daum.maps.LatLng(33.450701, 126.570667),
				level : 3
			};

			var map = new daum.maps.Map(container[0], options);

			var positions = [ {
			        title: '카카오', 
			        content: '<div>카카오카카오카카오카카오</div>', 
			        latlng: new daum.maps.LatLng(33.450705, 126.570677)
			    },
			    {
			        title: '생태연못', 
			        content: '<div style="left:0px; top:0px; width:100%;"><a style="display:block;padding:0 25px 0 10px;height:31px;font-size:13px;font-weight:bold;line-height:31px;white-space:nowrap;background:url(https://dwrr4uupj8j1p.cloudfront.net/template/asset/images/bullet.png) no-repeat 100% -89px;background-size:18px auto;" href="http://www.naver.com">[할인] 주례역 7번 출구 1/3</a></div>', 
			        latlng: new daum.maps.LatLng(33.450936, 126.569477)
			    },
			    {
			        title: '텃밭', 
			        content: '<div>텃밭</div>', 
			        latlng: new daum.maps.LatLng(33.450879, 126.569940)
			    },
			    {
			        title: '근린공원',
			        content: '<div>근린공원</div>',
			        latlng: new daum.maps.LatLng(33.451393, 126.570738)
				},
			    {
			        title: '동서대', 
			        content: '<div><a href="http://www.naver.com"></a>동서대</div>', 
			        latlng: new daum.maps.LatLng(35.143946,129.0083763)
			   }];

			var posIndex = 0;

			var size = positions.length;
			var preClickMarkerLatLag;
			// 이전 marker의 lat, lng 값
			var infowindow = [];
			// infowindow 저장

			for(var i=0 ; i<size ; i++){
				// 마커를 생성합니다
			    var marker = new daum.maps.Marker({
			        map: map, // 마커를 표시할 지도
			        position: positions[i].latlng // 마커의 위치
			    });

			    // 마커에 표시할 인포윈도우를 생성합니다 
			    infowindow[i] = new daum.maps.InfoWindow({
			        content: positions[i].content // 인포윈도우에 표시할 내용
			    });

				// 마커에 mouseover 이벤트와 mouseout 이벤트를 등록합니다
				// 이벤트 리스너로는 클로저를 만들어 등록합니다 
				// for문에서 클로저를 만들어 주지 않으면 마지막 마커에만 이벤트가 등록됩니다
				daum.maps.event.addListener(marker, 'click', openInfoWindowListener(i, map, marker, infowindow));
			}

			// 인포윈도우를 표시하는 클로저를 만드는 함수
			function openInfoWindowListener(idx, map, marker, infowindow) {
			    return function() {
			    	if(marker.getPosition() !== preClickMarkerLatLag){
			    		infowindow[posIndex].close();
			    		// 이전 infowindow 닫기
						preClickMarkerLatLag = marker.getPosition();
						posIndex = idx;
						// 현재 marker 및 index 대입
			    	}
			        infowindow[idx].open(map, marker);
			        // infowindow 열기
			    };
			}
		}])
	</script>
	<style>
		* {margin : 0; padding : 0;}
		html, body{
			height: 100%;
			width : 100%;
		}
		a, u{
			text-decoration: none;
			background-color: black;
		}
		a:focus{
			color: #000;
		}
	</style>
	<!-- 단말기 크기에 맞게끔 지도 크기 % 조절 -->
</head>
<body ng-controller="mainController">
	<input type="email" ng-model="id">
	<input type="password" ng-model="pw">
	<button ng-click="login(id, pw)">로그인</button>
	<div id="map" style="margin:0; width:100%; height:100%;"></div>
</body>
</html>