<!DOCTYPE HTML>
<html lang="en" ng-app="sampleApp">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0" />
		<link rel="stylesheet" type="text/css" href='template/asset/css/socar_new.css'/>
		<script type="text/javascript" src='https://dwrr4uupj8j1p.cloudfront.net/template/asset/js/minified/jquery-1.8.3.min.js'></script>

		<script type="text/javascript" src='https://dwrr4uupj8j1p.cloudfront.net/template/asset/js/minified/jquery-easing.js'></script>
		<script type="text/javascript" src='https://dwrr4uupj8j1p.cloudfront.net/template/asset/js/common.js?v=20161110'></script>
		<script type="text/javascript" src='https://dwrr4uupj8j1p.cloudfront.net/template/asset/js/minified/json2.min.js?v=20140204'></script>
		<script type="text/javascript" src='https://dwrr4uupj8j1p.cloudfront.net/template/asset/js/minified/fastclick.min.js?v=20150105'></script>
		<script type="text/javascript" src='https://dwrr4uupj8j1p.cloudfront.net/template/asset/js/ssun.js?v=20151220'></script>

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<script>
			/**
			* sampleApp Module
			*
			* Description
			*/
			angular.module('sampleApp', [])
			.controller('mainController', ['$scope', '$http', '$window', function($scope, $http, $window){
				$scope.login = function(event, vaild, id, pw){
					// 이메일 유효성 검사
					if(vaild){
						if(event.type==='click' || (event.type==='keydown' && event.keyCode === 13)){
							// 클릭, 엔터 누를 시 로그인
							var temp = {username : id, password : pw};

							$http.post('http://10.1.70.107:3000/auth/login', temp).success(function(res){
								$window.location.href = 'reserve.html';
							}).error(function(res){
								alert("이메일과 비밀번호를 확인하세요");
							});
						}
					}else
						alert("이메일 형식이 잘못되었습니다.");
				}

				$scope.focus = function(event){
					if(event.keyCode === 13)
						angular.element($('#pw')).focus();
				}
			}])
		</script>
	</head>
	<body id="login" ng-controller="mainController">
		<style type="text/css">
			#login section.loginForm .autoCheck a {width:150px;}
			.relative .idpw {position:absolute;top:0;right:12px;text-align:right;}
			.relative .idpw a {font-size:13px;line-height:28px;color:#666;letter-spacing:-1px;}
			.relative .idpw .txt_bar {margin:0 4px;color:#666;}
		</style>
		<link rel="stylesheet" type="text/css" href="template/asset/css/lightbox.css" />
		<script type="text/javascript" src="template/asset/js/m.lightbox.js"></script>
		<script type="text/javascript" src="template/asset/js/minified/jquery.touchslider.min.js_v=095.javascript"></script>
		<!-- header -->
		<header>
			<h1><span>			
				<img src='template/asset/images/socar_logo.png' width="95px" height="20px" alt="socar" valign="top" style="margin-top:12px;" />
			</span></h1>		
		</header>
		<!-- //header -->
		<div id="contents">
			<section class="loginForm">
				<div class="bx">
					<form name="myForm">
						<dl>
							<dt><span>이메일</span></dt>
							<dd>
								<input type="email" id="id" name="input" ng-model="id" placeholder="your@email.com" ng-keydown="focus($event)" required>
							</dd>
						</dl>
						<dl>
							<dt><span>비밀번호</span></dt>
							<dd>
								<input type="password" id="pw" ng-model="pw" placeholder="********" ng-keydown="login($event, myForm.input.$valid, id, pw)"/>
							</dd>
						</dl>	
					</form>
				</div>
				<div class="relative">
					<div class="autoCheck">
						<a id="btn_save_info" href="#"><span id="save_info" class="chk"></span>로그인 정보 기억</a>
					</div>
					<div class="idpw">
						<a href='user/find_id.html'>아이디 찾기</a>
						<span class="txt_bar">|</span>
						<a href='user/find_pw.html'>비밀번호 찾기</a>
					</div>
				</div>
				<div class="rbtn rbtn_login"><input ng-click="login($event, myForm.input.$valid, id, pw)" id="loginbtn" type="button" value="로그인" /></div>
				<div class="box_snscont">
					<div class="box_snscont_inner">
						<div class="sns left_c"><a href="#none" class="facebook" id="fb_login"><span>페이스북</span></a></div>
						<div class="sns center_c"><a href="#none" class="naver" id="naver_login"><span>네이버</span></a></div>
						<div class="sns right_c"><a href="#none" class="cacao" id="kakao_login"><span>카카오톡</span></a></div>
					</div>
				</div>
			</section>
			<div class="wrap_login_link">
				<a id='btn_join' href="sign_up.html">개인 회원가입하기</a>
				<span class="txt_bar">|</span>
				<a href="user/join_corp.html">법인 회원가입하기</a>
			</div>
		</div>
		<div id="twit_login_layer" class="sns_join_layer sns_login_layer" style="display:none">
		<div class="default_indicator">
			<div class="bg"></div>
			<div style="position:relative;margin:auto;text-align:center"><span style="color:#fff;">잠시만 기다려주세요</span></div>
		</div>
<!-- 		<script type="text/javascript" src="template/asset/js/kakao.min.js_1481091896.javascript" charset="utf-8"></script>
		<script type="text/javascript" src="template/asset/js/sns_interlocking.js_1481091896.javascript" charset="utf-8"></script> -->
	</body>
</html>