<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Area</title>
  </head>
  <body>
    <h3>지역 등록</h3>
    <form action="/new_data/area" method="post">
      <p>
        지역 <input type="text" name="areaName" placeholder="지역을 입력하세요.">
      </p>
      <p>
        위도 <input type="text" name="latitude" placeholder="위도를 입력하세요.">
      </p>
      <p>
        경도 <input type="text" name="longitude" placeholder="경도를 입력하세요.">
      </p>
      <p>
        <input type="submit" value="등록">
      </p>
    </form>
  </body>
</html>
