<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Car</title>
  </head>
  <body>
    <h3>차량정보 등록</h3>
    <form action="/new_data/car" method="post">
      <p>
        차명 <input type="text" name="carName" placeholder="차명을 입력하세요.">
      </p>
      <p>
        제조사 <input type="text" name="automaker" placeholder="제조사를 입력하세요.">
      </p>
      <p>
        차종 <input type="text" name="carModel" placeholder="차종을 입력하세요.">
      </p>
      <p>
        외관 <input type="text" name="carOutside" placeholder="외관을 입력하세요.">
      </p>
      <p>
        연료 <input type="text" name="oilType" placeholder="연료를 입력하세요.">
      </p>
      <p>
        변속방식 <input type="text" name="gearType" placeholder="변속방식을 입력하세요.">
      </p>
      <p>
        승차정원 <input type="number" name="capavity" placeholder="승차정원을 입력하세요.">
      </p>
      <p>
        기본요금 <input type="text" name="basicCharge" placeholder="승차정원을 입력하세요.">
      </p>
      <p>
        주행요금 <input type="text" name="drivingCharge" placeholder="승차정원을 입력하세요.">
      </p>
      <p>
        <input type="submit" value="등록">
      </p>
    </form>
  </body>
</html>
