<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Socar</title>
  </head>
  <body>
    <h3>쏘카 등록</h3>
    <form action="/new_data/socar" method="post">
      <p>
        지역 <input type="text" name="areaName" placeholder="지역을 입력하세요.">
      </p>
      <p>
        차명 <input type="text" name="carName" placeholder="차명을 입력하세요.">
      </p>
      <p>
        차량번호 <input type="text" name="carNum" placeholder="차번호를 입력하세요.">
      </p>
      <p>
        별명 <input type="text" name="nickName" placeholder="별명을 입력하세요.">
      </p>
      <p>
        <input type="submit" value="등록">
      </p>
    </form>
  </body>
</html>
