<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Socar Information</title>
  </head>
  <body>
    <div>
      <section>
        <form action="/reserve/socar_info" method="post">
          <select name="areaName">
            <option value="">지역 선택</option>
            <option value="냉정역 1번 출구">냉정역 1번 출구</option>
            <input type="submit" value="선택">
          </select>
        </form>
      </section>
    </div>
  </body>
</html>
