<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <div>
      <% if(user.name == undefined) { %>
        <h3>Please, <a href="/auth/login">login</a> or <a href="/auth/register">sign up</a></h3>
      <% } else if(user.name != undefined) { %>
        <h3>Welcome! <%= user.name %></h3>
        <a href="/auth/logout">Logout</a>
      <% } %>
    </div>
    <div>
      <a href="/new_data/car">차량정보 등록</a>
    </div>
    <div>
      <a href="/new_data/option">차량옵션 등록</a>
    </div>
    <div>
      <a href="/reserve/car_info">차량정보 가져오기</a>
    </div>
    <div>
      <a href="/new_data/area">지역정보 등록</a>
    </div>
    <div>
      <a href="/new_data/socar">쏘카존 차량 등록</a>
    </div>
    <div>
      <a href="/reserve/socar_info">쏘카존 차량정보 가져오기</a>
    </div>
    <div>
      <a href="/new_data/rental">예약하기</a>
    </div>
    <div>
      <a href="/reserve/rental_info">예약정보 가져오기</a>
    </div>
  </body>
</html>
